Demo/MSP430X_MSP430F5438_MSPGCC/main.d.1020
Demo/MSP430X_MSP430F5438_MSPGCC/main.d.2548
Demo/MSP430X_MSP430F5438_MSPGCC/main.d.3304
Demo/MSP430X_MSP430F5438_MSPGCC/main.d.380
# Ignore object files and libraries
*.[oa]
# Ignore elf binaries
*.elf
# Ignore dependency files
*.d
